{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "globals": {
    "chrome": false,
    "JQuery": false
  },
  "rules": {
    "no-undef": "warn",
    "prefer-const": "warn",
    "no-debugger": "warn",
    "no-eq-null": "error",
    "no-mixed-spaces-and-tabs": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "semi": ["error", "always"],
    "no-var": ["error"],
    "prefer-arrow-callback": ["error"],
    "no-console": "warn",
    "no-constant-condition": "warn"
  }
}
